@use "./index.scss" as *;

.App {
  &__header {
    border-bottom: 1px solid $accent;
    color: $accent;
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    padding: 1rem;

    h1 {
      text-shadow: 0 0 5px #73005e;
    }
  }

  &__content {
    padding: 1rem;
    color: #fff;
  }

  &__footer {
    border-top: 1px solid $accent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
}
